logo{
  display:block;
  font-weight: bold;
  border-style: groove;
  border-radius: 15px;
  width:420px;
  color:white;
  font-size: 500%;
  background: lightblue;
}
.user_info{
  font.size:150%;
}
body{
  background: black;
}
area_produtos{
  display: block;
  background: lightgray;
  font-size: 200%;
}
.display_prods{
  background: gray;
  display:list-item;
  height: 400px;
}
