body{
  background: black;
}
.cabecario{
  background: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-style: groove;
  border-radius: 15px;
}
.home {
  border-style: groove;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 15px;
  width: 50px;
  height: 15px;
}
.user_info{
  border-style: groove;
  border-radius: 15px;
  height:400px;
  width:420px;
  color:white;
  font-size: 300%;
  background: lightgray;
}
.adm {
  border-style: groove;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: white;
  width: 150px;
  height: 15px;
}