<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
  <title>Loja Brisk</title>
</head>
<body>
    <logo>
    Brisk
  </logo>
  <div class="user_info">
    <a href="{{ url_for('info') }}">usuario informação</a>
      </div>
  <br>
  <area_produtos>
    produtos
    <div class="display_prods">
      <a href="{{ url_for('produto') }}">produto</a>
      produto 2
      produto 3
    </div>
  </area_produtos> 
</body>
</html>

