<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>produto x</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/produto.css') }}"> -->
  <link rel="stylesheet" href="../static/styles/produto.css">
</head>
<body>
  <header>
  </header>
  <main>
    <section id="product-content">
      <div id="display">
        <img src="../static/imagens/meia vermelha.png" alt="Imagem do produto">
      </div>
      <div id="info">
        <div id="nome-descricao">
          <h1>Meias para Corrida</h1>
          <p>Meias leves e anti suor</p>
        </div>
        <div id="avaliacoes">★★★★☆</div>
        <span id="preco">R$ 29,90</span>
        <div id="cor">Cor: Vermelho</div>
        <div id="tamanho">Tamanho: Selecione</div>
        <div id="quantidade">Quantidade</div>
        <div id="botoes"></div>
      </div>
    </section>
    <div id="descricao"></div>
  </main>
  <footer>
  </footer>
</body>
</html>
