<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/produto.css') }}">
  <title>produto x</title>
</head>
<body>
  <a href="{{ url_for('home') }}" style="color:white">retornar</a>
  <h2 style="color:white">produtos: X</h2>
  <center><div class="produto">
  </div>
  </center>
  <h2 style="color:white">aa</h2>
  <center>
    <div class="compras">
      <button class="botao">comprar</button>
      <button class="botao">carrinho</button>
    </div>    
  </center>
</body>
</html>
