<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>produto x</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/produto.css') }}"> -->
  <link rel="stylesheet" href="../static/styles/produto.css">
</head>
<body>
  <header>
  </header>
  <main>
  </main>
  <footer>
  </footer>
  <a href="{{ url_for('home') }}" style="color:white">retornar</a>
  <h2 style="color:white">produtos: X</h2>
  <center>
  <div class="produto">
  </div>
  </center>
  <h2 style="color:white">aa</h2>
  <center>
    <div class="compras">
      <button class="botao">comprar</button>
      <button class="botao">carrinho</button>
    </div>    
  </center>
</body>
</html>
