@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor1: ;
}

/*Header*/

header input{
    height: 40px;
    width: 300px;
    border-radius: 40px;
    border: none;
    padding-left: 40px;
    background: rgb(224, 224, 224) url("../imagens/search-icon.png") no-repeat 10px center;
    background-size: 20px 20px;
}
section#header-nav{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
section#header-nav img.img-size{
     width: 30px;
}
div.logo > img{
    height: 60px;
}
div#contato{
    display: flex;
    align-items: center;
}
div#contato > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
div#carrinho{
    display: flex;
    align-items: center;
}
div#carrinho > a{
    text-decoration: none;
    color: black;
}
nav{
    padding: 10px;
    text-align: center;
    background-color: #2a9baa;
}
nav > a{
  padding: 0px 35px;
  text-decoration: none;
  color: white;
}
nav > a:hover{
  color: rgb(226, 226, 226);
}
div#banner{
  background-color: grey;
  width: 100%;
  height: 300px;
}

/*Main*/
h1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2a9baa;
  font-weight: bold;
  margin-top: 15px;
  font-size: 2.5em;
}
h1::before, h1::after{
  content: "";
  flex: 1;
  border-bottom: 2px solid #2a9baa;
  margin: 0 10px;
  min-width: 10px; 
  max-width: 300px;
}
section#produto{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    justify-items: center; 
    align-items: center;
}
div.produto-meia{
  margin: 5px;
  width: 200px;
  text-align: center;
}
div.produto-meia:hover{
   transform: scale(1.05);
   box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.295);
   transition: transform 0.3s ease-in-out;
}
div.produto-meia > p, span{
  font-weight: bold;
  color: #2a9baa;
  margin: 5px 0px;
}
div.produto-meia > img{
  width: 250px;
  height: 200px;
}
div.produto-meia > a{
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #2a9baa;
  padding: 15px 30px;
  margin-top: 5px;
  border-radius: 0px 0px 5px 5px;
}
div#layout-garantia{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 5px;
  justify-items: center; 
  align-items: center;
  text-align: center;
}
div.garantia p{
  color: gray;
}
/*Footer*/

footer{
  background-color: #2a9baa;
  padding: 20px;
  text-align: center;
}
footer img{
  padding-bottom: 10px;
}
footer p{
  color: white;
  font-size: 0.8em;
  padding: 5px 0px;
}