@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: auto;
  width: 80%;
}

section#product-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

div#info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#avaliacoes {
  font-size: 2em;
}

span#preco {
  font-size: 2em;
  font-weight: bolder;
  color: #2b7099;
}

div#cor, div#tamanho, div#quantidade {
  font-weight: bold;
}